.wrapper {
  width: 300px;
  height: 500px;

  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;

  box-shadow: 0;
  transform: scale(0.95);

  .container-2 {
    width: 100%;
    height: 100%;

    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
      box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
    }
    .top {
      height: 75%;
      width: 100%;
    }
    .bottom {
      width: 200%;
      height: 25%;
      transition: transform 0.5s;

      h1 {
        font-family: $main-font;
        text-transform: uppercase;
        font-size: 0.9rem;
        margin-bottom: 0;
        letter-spacing: 1.2px;
      }
      hr {
        border: 1px solid $main-pink;
        margin: 0.5rem 0;
        width: 30%;
      }
      p {
        margin: 0;
        padding: 0;
        font-size: 1.1rem;
        &.type-of-sale {
          color: grey;
          font-family: $secondary-font;
          margin-left: 1rem;
        }
      }
      .left {
        height: 100%;
        width: 50%;
        background: #fff;
        position: relative;
        float: left;
        border-left: 1px solid #cacaca;
        border-right: 1px solid #cacaca;
        .product-content {
          padding: 14px;
          float: left;
          width: calc(83% - 40px);
        }
        .details {
          display: flex;
          flex-direction: row;
          align-content: center;
        }
        .buy {
          float: right;
          width: calc(30% - 2px);
          height: 100%;
          background: #fff;
          transition: all 0.5s;
          border-left: solid thin #f1f1f1;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            // font-size: 30px;
            // padding: 30px;
            // transition: transform 0.5s;
            color: lighten($main-pink, 10%);
            font-size: 1.8rem;
            transition: all 0.3s;
          }
          &:hover {
            background: lighten($main-pink, 20%);
          }
          &:hover svg {
            transform: translateY(-5px);
            color: $main-pink;
          }
        }
      }
    }
  }

  .inside {
    z-index: 9;
    background: #fafafa;
    width: 120px;
    height: 120px;
    position: absolute;
    top: -80px;
    right: -80px;
    // border-radius: 0px 0px 200px 200px;
    transition: all 0.3s, border-radius 0.3s, top 1s;
    overflow: hidden;
    @include respond("big-desktop") {
      top: -80px;
      right: -77px;
    }
    .icon {
      position: absolute;
      right: 90px;
      top: 88px;
      color: #000;
      opacity: 1;
    }
    &:hover {
      width: 100%;
      right: 0;
      top: 0;
      border-radius: 0;
      height: 75%;
      .icon {
        opacity: 0;
        right: 15px;
        top: 15px;
      }
      .contents {
        opacity: 1;
        transform: scale(1);
        transform: translateY(0);
      }
    }
    .contents {
      padding: 15px 15px;
      opacity: 0;
      transform: scale(0.5);
      transform: translateY(-200%);
      transition: opacity 0.2s, transform 0.8s;
      overflow-y: auto;
      h1,
      p {
        color: #000;
      }
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-family: $main-font;
        font-size: 1rem;
        text-transform: uppercase;
        margin-top: 1rem;
      }
      p {
        font-size: 13px;
        font-family: $secondary-font;
      }
    }
  }
}
