.recover-password__container {
  width: 100%;
  margin: 0 auto;
  @include respond("tab-port") {
    width: 50%;
  }
  .card-title {
    font-family: $main-font;
    font-size: 2rem;
    text-align: center;
  }
  .card-body {
    text-align: center;
  }
}
